@import '../../utils/variables';

.form__container--three {
    max-width: 750px;
}

.search__container {
    display: flex;

    @include mediaQ(phones) {
        flex-direction: column;
    }
    
    .search {

        &:nth-child(2) {
            margin-left: 10px;

            @include mediaQ(phones) {
                margin-left: 0px;
            }
        }
    }
}