@import '../../utils/variables';

.form__container--three {
    max-width: 750px;
}

.search__container {
    display: flex;

    .search {

        &:nth-child(2) {
            margin-left: 10px;
        }
    }
}