@import '../../utils/variables';

.search {
    display: flex;
    align-items: center;

    margin-top: 10px;

    &__label {
        margin-right: 5px;
    }

    &__bar {
        width: 230px;
        height: 37px;
        color: $white;
        background-color: inherit;
        border: 1px solid #3E4145;
        border-radius: 4px;
        padding-left: 15px;
    }
}