$breakpoints: (
    small: "(max-width: 450px)",
    phones: "(max-width: 800px)",
    big: "(max-width: 1000px)"
);

@mixin mediaQ($breakpoint) {
    $size: map-get($breakpoints, $breakpoint);

    @if ($size) {
        @media #{$size} {
            @content;
        }
    } @else {
        @error '"#{breakpoint}" - Misdiagnosis';
    }
}
