@import '../utils/variables';

.search {
    display: flex;
    align-items: center;

    margin-top: 10px;

    &__label {
        margin-right: 5px;
    }

    &__bar {
        width: 230px;
        height: 37px;
        color: $white;
        background-color: inherit;
        border: 1px solid #3E4145;
        border-radius: 4px;
        padding-left: 15px;
    }
}

.tentant {   
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
    
    &__head {
        background-color: $secondary-color;
        
        &__th {
            font-weight: 400;
            padding: 10px;
            text-align: left;
        }
    }

    &__body {
        
        &__tr {
            border-bottom: 2px solid $primary-color;
            &:nth-child(odd) {
                background-color: #383838;
            }
            &:nth-child(even) {
                background-color: #292929;
            }
        }

        &__td {
            padding: 5px 0;
            padding-left: 12px;
        }
    }
}