@import '../utils/variables';
@import '../utils/mixins';

.wrapper {
    display: flex;
    height: 100vh;
    
    &__right {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: auto;
    }
}

.wrapper__right__bottom {
    display: flex;
    overflow: auto;
    flex: 1;
    margin-top: 20px;
    margin-left: 30px;
    
    @include mediaQ(phones) {
        margin-left: 15px;
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #494949;
        border-radius: 10px;
      }
    &::-webkit-scrollbar-track {
        background: $primary-color;
        border-radius: 10px;
      }
    &::-webkit-scrollbar-thumb:hover {
        cursor: grab;
        background: #575656;
    }

    &--uncenter {
        justify-content: center;
        align-items: baseline;
    }
    
}

.container {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;

    &--center {
        max-width: 1550px;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
}

.aboutRights {
    color: var(--gray);
    text-align: center;
    margin: 20px;
    font-weight: 100;
}