@import '../utils/variables';

.header {
    flex: 0 0 53px;
    display: flex;
    align-items: center;
    justify-content: right;
    border-bottom: 1px solid var(--gray);

    .profile {
        display: flex;
        margin-right: 60px;
        gap: 10px;
        align-items: center;

        &__icon {
            font-size: 20px;
        }
    }
}