@import '../utils/variables';

.button {
    cursor: pointer;
    color: $white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border: 1px solid #353A36;

    &--primary {
        margin-top: 15px;
        width: 210px;
        max-height: 41px;
        padding: 12px;
        background-color: $secondary-color;
    }

    &--secoundary {
        margin-top: 15px;
        width: 210px;
        max-height: 41px;
        padding: 12px;
        background-color: #E7E9DD;
        color: $primary-color;
        font-weight: bold;
    }

    &--third {
        margin-top: 15px;
        width: 250px;
        max-height: 41px;
        padding: 12px;
        background-color: $secondary-color;
    }
    
    &--space {
        margin-right: 10px;
    }

    &--edit {
        border-radius: 3px;
        padding: 5px 10px;
        background-color: $secondary-color;
    }

    &--delete {
        border-radius: 3px;
        padding: 5px 10px;
        background-color: $red;
        margin-right: 20px;
    }
}