.table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
    
    &__head {
        background-color: $secondary-color;
        
        &__th {
            font-weight: 400;
            padding: 10px;
            text-align: left;
        }
    }

    &__body {
        
        &__tr {
            border-bottom: 2px solid $primary-color;
            &:nth-child(odd) {
                background-color: var(--form__odd);
            }
            &:nth-child(even) {
                background-color: var(--form__even);
            }
        }

        &__td {
            padding: 5px 0;
            padding-left: 12px;
            height: 39px;
        }
    }
}