@import '../utils/variables';
@import 'typography';

body {
    // background-color: $primary-color;
    // color: $white;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: $primary-font-size;
    font-family: $font-familly;
    font-weight: $font-weight;
    letter-spacing: $spacing;
    overflow: hidden;
}